@media only screen and (min-width: 64.0em) {
 
/* HEADER & NAV */

nav a{
    padding-right: 2em;
    padding-left:2em;
    padding-bottom: 1em;
    padding-top: 1em;
}


 /* MAIN */ 

 #hola{
    grid-template-columns: 1fr 1fr 1fr;
}



 /* FOOTER */

 

}