/* HEADER & NAV */

header {
    border-top: 60px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.logo {
    width: 12em;
    text-align: center;
    padding-bottom: 0em;
    margin-right: 1em;
}

.navigation {
    list-style: none;
    padding: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}


.navigation a:hover {
    color:white;
    background-color:darkgray;
}

.responsive li {
    display: block;
}

nav a{
    padding: 5px;
    display: block;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: black;
    margin-bottom:0em;
}

 nav {
    text-align: center;
}

.ham{
    font-size: 50px;
    color: #5f9591;
    font-family:'Raleway', sans-serif;
}

/* MAIN */

section{
    border-radius: 15px;
}

li {
    text-decoration: none;
    list-style: none;
}
.landscape{
    margin-top: 0em;
    width: 100%;
    margin-bottom: 2em;
}

main{
    max-width: 1000px;
    margin: auto;
}

.arizona {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1em;
}

/* RESERVE NOW*/ #reserve a{
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    background-color: #5f9591;
    padding: 10px;
    border-radius: 15px;
    font-size: 30px;
}
#reserve {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 5em;
    list-style: none;
}

#reserve a:link {
    text-decoration: none;
}

#reserve a:hover{
    color: #5f9591;
    background-color: #dbdbdb;
    box-shadow: 5px 5px 5px darkgray;
}

#feature {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5em;
}

#featureText {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}


#text {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

h2{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 2em;
}

p {
    font-family: 'Raleway', sans-serif;
    margin: 20px;
    padding: 1em;
}

/*RESERVATION FORM*/

.form  {
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
}

#boxed{
    box-shadow: 1px 5px 5px 5px darkgray;
}

.grid {
    text-align: center;
    margin-bottom: 5rem;
}

/*CONTACT US PAGE*/

#contact{
    border-top: #5f9591 dotted 10px;
    border-radius: 15px;
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
}

/* SERVICES PAGE*/

#icons {
    width: 150px;
}

#hola{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5em;
    text-align: center;
}


#cute{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#link{
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#link a:hover{
    color: #5f9591;
    font-size: 3opx;
}

#middle {
    align-items: center;
    text-align: center;
    padding-bottom: 5em;
}

#icons2{
    width: 150px;
    align-items: center;
}

#icons2 a:hover{
    box-shadow: 5px 5px darkgray;
}

/* TEMPLES PAGE*/

#templo{
    width: 400px;
    margin: 2em;
}

.universe {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    border-radius: 15px;
    box-shadow: 1px 5px 5px 5px darkgray;
    padding: 10px;
    margin: 20px;
}

#weather-summary{
    color: white;
    background-color: #5f9591;
    padding: 1px 20px 20px 20px; 
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    max-width: 200px;
    border-radius: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
/* FOOTER */

#foot{
    background-color: black;
    color: darkgray;
    padding: 4em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
