@media only screen and (min-width: 32.5em) {

    h1 {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 2.0rem; ;
    }
    header, footer, footer a {
        border-radius: 10px;
        font-family: 'Quicksand', sans-serif;        
    }
    header img {
        width: 200px; 
        height: auto;
        float: right;
        margin-top: -20px;
    }
    
}