@media only screen and (min-width: 64.0em) {
 
    h2 {
        font-size: 15px;
        text-align: center;
    }
    
    h3, h4 {
        font-size: 40px;
        padding-top: 1em;
        padding-right: 3em;
        padding-left: 1.5em;
        padding-bottom: .5em;
        border-bottom: 4px solid white;
    }
    
    p {
        font-size: 18px;
        padding-right: 3em;
        padding-left: 3em;
        padding-bottom: 3em;
    }
    
    
    .root{
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        color: white;
        background-color: #324438;
        text-decoration-color: #e0f7e7;
        font-size: 9px;
    }
    





}