nav ul li a{
    padding: 20px;
    text-decoration: none;
    
}

nav {
    line-height: 40px;
    text-align: center;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

img {
    width: 600px;
}

h2 {
    font-family: 'League Script', cursive;
    font-size: 32px;
}