nav ul li a{
    padding: 20px;
    text-decoration: none;
    
}

nav {
    line-height: 40px;
    text-align: center;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

img {
    width: 300px;
    position: center;
}