nav ul li a{
    padding: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #324438;
    
}

nav {
    line-height: 40px;
    text-align: center;
    border-top: 4px solid #88bb99;
    border-bottom: 4px solid #88bb99;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

img {
    width: 600px;
}

h1 {
    font-family: 'League Script', cursive;
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: -5em;
}

h3, h4 {
    font-size: 40px;
    font-family: 'League Script', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}