table, caption, tr, th, td{
    border: 1px solid lightgrey;
    border-collapse: collapse;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    text-align: center;
}

tr {
    background-color: #e7f0ed;
}

tr:nth-child(even){
    background-color: #e7ffed;
}

th, #november-sales-goal {
    background-color: #628ca6;
    color: white;
}

