@media only screen and (min-width: 64.0em) {
 
    
    p {
        font-size: 14px;
        padding-bottom: 20px;
    }

    #hero{
        background-image: url('/lesson6/image/hero-image-large.jpg');
    }
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
  
    





}