@media only screen and (min-width: 64.0em) {
 
    h2 {
        font-size: 15px;
        text-align: center;
    }
    
    
    p {
        font-size: 18px;
        padding-right: 3em;
        padding-left: 3em;
        padding-bottom: 3em;
    }
    
    





}