h1, h2{
    text-align: Center;
}

body {
    background-color: darkgray;
    font-size: 8pt;
    text-align: left;
}

img {
    width: 150px;
    border-radius: 10%;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
}
