@media only screen and (min-width: 64.0em) {
 
    h2 {
        font-size: 15px;
        text-align: center;
    }
    
    
    p {
        font-size: 18px;
        padding: 1em;
    }
    
    #weather-summary {
        position: absolute;
        top: 21em;
        left: 4em;
        color: white;
        background-color: #324438;
        padding-top: 0px;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 50px;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }





}