body {
    background-color: lightgray;
}

#church {
    background-color: lightgray;
}


article {
    background-color: #b8b8db;
    margin: 10px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border: solid 1px #504f8a;
}

h1 {
    color: #504f8a;
    text-align: center;
    font-size: 30px;
}

img {
    width: 200px;
    box-shadow: 0px 0px 20px black;
}

section {
    display: grid;
    grid-template-columns: 1fr;
}

footer {
    text-align: center;
}

@media only screen and (min-width: 32.5em){
    section {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em){
    section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

